<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Sửa</th>
    <th>Xóa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of products; index as i">
    <td>{{i+1}}</td>
    <td>{{items.id}}</td>
    <td>{{items.name}}</td>
    <td>{{items.price}}</td>
    <td>{{items.description}}</td>
    <td><a routerLink="/product/edit/{{items.id}}">Sửa</a></td>
    <td><a routerLink="/product/delete/{{items.id}}">Xóa</a></td>
  </tr>
  </tbody>
</table>
