<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Id</th>
    <th>Name</th>
    <th>Position</th>
    <th>Education Degree</th>
    <th>Division</th>
    <th>Date Of Birth</th>
    <th>Id Card</th>
    <th>Salary</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of employees; index as i">
    <td>{{i + 1}}</td>
    <td>{{items.id}}</td>
    <td>{{items.name}}</td>
    <td>{{items.position.name}}</td>
    <td>{{items.educationDegree.name}}</td>
    <td>{{items.division.name}}</td>
    <td>{{items.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
    <td>{{items.idCard}}</td>
    <td>{{items.salary}}</td>
    <td>{{items.phoneNumber}}</td>
    <td>{{items.email}}</td>
    <td>{{items.address}}</td>
    <td><a routerLink="/employee/edit/{{items.id}}" type="button" class="btn btn-primary">Edit</a></td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="showDelete(items)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want delete id: {{deleteId}} with name is {{deteteName}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(deleteId)">Yes</button>
      </div>
    </div>
  </div>
</div>
